@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text:400,700);

html, body {
  margin: 0px;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

body {
  display: flex;
}

h3, h4 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

.padded {
  padding: 5%;
}

#profile {
  border-radius: 50%;
  width: inherit;
  height: inherit;
  box-shadow: 10px 10px 42px -7px rgba(0,0,0,0.75);
}

.heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#info {
  float: left;
  background-color: #3F51B5;
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  align-self: stretch;
}

#info:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle; /* vertical alignment of the inline element */
  height: 100%;
}

#info-wrapper {
  display: inline-block;
  vertical-align: middle;          /* vertical alignment of the inline element */
}

#info #email {
  font-family: 'Crimson Text', serif;
}

#details {
  float: right;
  /*border-left: 1px solid grey;*/
  background-color: white;
  height: inherit;
  color: #212121;
  overflow: scroll;
  width: 60%;
}

#info a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFEB3B;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
  
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

#info a:hover {
  color: white;
}

#info .external:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}

#details a {
  text-decoration: none;
  font-weight: bold;
  line-height: 0px;
}

#details .heading {
  color: #536DFE;
}

#title-name {
  font-size: 32px;
  text-align: left;
}

#school-name {
  font-size: 20px;
  text-align: left;

}

.row {
  width: 100%;
  align-items: center;
  display: flex;
}

.col {
  flex: 1;
  align-items: stretch;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.s2 {
  width: 50%;
}

.s3 {
  width: 33%;
}

.s4 {
  width: 25%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.listing-head {
  width: 15%;
  float: left;
  border-right: 1px solid black;
  text-align: right !important;
  padding-right: 20px;
}

.listing {
  width: 85%;
  float: right;
  text-align: left !important;
  padding-left: 20px;
}

.listing-row {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  padding-left: 0px;
}

#wrapper {
  align-self: stretch;
}
