body {
  text-align: center;
}

a, a:hover, a:focus {
	color: #000;
}

.email-logo {
    font-size: 110px;
    font-family: sans-serif;
    width: 150px;
    height: 150px;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
.email-logo > a:hover, a:focus {
    text-decoration: none;
}

.github-logo {
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
}

.linkedin-logo {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}